<html>
<head>
<title>{{ inventory_hostname }} : {{ ansible_default_ipv4.address }}</title>
<body>
<h3>IP address of instance:</h3>
<div>Host: {{ inventory_hostname }}<br/>
IP: {{ ansible_default_ipv4.address }}</div>
</body>
</html>

