#!/bin/bash

/sbin/iptables -t nat -A POSTROUTING -o eth0 -s {{ hostvars[inventory_hostname].ansible_default_ipv4.network }}/{{ hostvars[inventory_hostname].ansible_default_ipv4.netmask }} -j MASQUERADE

exit 0
