          upstream apps { 
    {% for host in groups[subnet] | intersect(groups['app']) | intersect(groups['from_config']) %}
        server {{hostvars[host].aws_private_ip}};
    {% endfor %}
          }
          server { 
            listen 80;
            location / { 
              proxy_pass http://apps; 
            }
          } 
